/** * jPList - jQuery Data Grid Controls 0.0.70 - http://jplist.com * Copyright 2015 jPList Software. */
.lato{
    font-family:'Lato',sans-serif
}
.jplist-panel .jplist-pagination{
    cursor:pointer;
    float:left;
    line-height:30px
}
.jplist-panel .jplist-pagination button{
    display:inline-block;
    color:#414141;
    height:30px;
    line-height:30px;
    padding:0 10px;
    width:30px;
}
.jplist-panel .jplist-pagination .jplist-current{
    font-weight:bold;
    color:#fff !important;
    background:#EE3224;
    border-radius:50%;
}
.jplist-panel .jplist-pagination .jplist-pagingprev,.jplist-panel .jplist-pagination .jplist-pagingmid,.jplist-panel .jplist-pagination .jplist-pagingnext{
    float:left
}
.jplist-panel .jplist-pagination .jplist-pagingprev button,.jplist-panel .jplist-pagination .jplist-pagingnext button{
    font-size:20px;
    font-family:"Courier New",Courier,monospace
}
.jplist-one-page{
    display:none
}
.jplist-empty{
    display:none
}
